@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-text {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.text-gradient {
  background: linear-gradient(90deg, #d0005a, #14f01b, #ff5900, #3e8bff);

  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-text 3s ease infinite;
}
.row {
    @apply flex flex-wrap px-4 py-8 items-center;
}



.slick-prev::before {
    content: '◀'; /* Use Unicode arrow or any other character */
    color: var(--tw-color-red-500); /* Tailwind color class */
  }
  
  .slick-next::before {
    content: '▶'; /* Use Unicode arrow or any other character */
    color: var(--tw-color-blue-500); /* Tailwind color class */
  }